.rating {
  border-radius: 0.375rem;
  font-family: "Cambria Math";
  font-weight: 700;
  font-size: 18px;
  border: 3px solid #525252;
  padding: 4px;
  color: #525252;
  font-variant: full-width;
  margin: 5px;

}
.image-panel{
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  position: relative;
  min-height: 275px;
  background-color: black;
  overflow: hidden;
}
.banner {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: contain;

}
.title {
  margin-top: 10px;
  display: inline;
  font-family: "Cambria";
  font-weight: 800;
  font-size: 26px;
  line-height: 1;
  font-kerning: auto;

}
