
.main-container {
  position: fixed;
  right: 3.5%;
  left: 3.5%;
  top: 60px;
  margin-right: auto;
  margin-left: auto;
  min-height: 90%;
  background-color: #FAFAFA;
  border-radius: 0.175rem;
}



